;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[cider/cider-nrepl "0.21.0"] [applied-science/js-interop "0.2.7"]]

 :builds
 {:app
  {:main snake.core/main
   :target :node-script
   :output-to "build.js"
   :devtools
   {:after-load snake.core/start!
    :before-load snake.core/stop!}}}}
