;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :builds
 {:app
  {:main snake.core/main
   :target :node-script
   :output-to "build.js"
   :devtools
   {:after-load snake.core/start!
    :before-load snake.core/stop!}}}}
