<html lang="en">

<head>
  <%- include('./partials/styling'); %>
    <title>
      Snake
    </title>
</head>

<body>
  <main class="crt">
    <h1>Snake game</h1>
    <p>Here should be a rules explanation with route descriptions.</p>
  </main>
</body>

</html>
